%table
  %thead
    %tr
      %th Sport
      %th Men's
      %th Women's
  %tbody
    - @sports.each do |sport|
      %tr
        %td= sport.sport.name
        %td= sport.mens
        %td= sport.womens

